In [54]:
import pandas as pd

In [55]:
data = pd.read_csv("C:/Users/vongu/Downloads/openaq.csv", sep = ";")

In [61]:
data.head()

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
0,JP,NaN,いわき市錦町重殿１５,"36.891111, 140.784722",SO2,japan-soramame,ppm,0.000,2024-09-23,Japan
1,JP,NaN,広島市東区馬木９－１－２,"34.442778, 132.536667",NOX,japan-soramame,ppm,0.000,2024-09-23,Japan
2,JP,NaN,敦賀市新和町２丁目３３番１号,"35.625278, 136.055833",NOX,japan-soramame,ppm,0.002,2024-09-23,Japan
3,JP,NaN,御坊市薗字円津２５５－４,"33.889167, 135.157778",NO2,japan-soramame,ppm,0.004,2024-09-23,Japan
4,JP,NaN,御坊市薗字円津２５５－４,"33.889167, 135.157778",NOX,japan-soramame,ppm,0.005,2024-09-23,Japan

In [57]:
data["Pollutant"].value_counts()

Pollutant
NO2                 11103
PM2.5               10595
O3                   9360
PM10                 9215
SO2                  8037
CO                   5923
NO                   4025
NOX                  2089
PM1                   158
BC                    135
TEMPERATURE           120
RELATIVEHUMIDITY       88
UM003                  86
Name: count, dtype: int64

In [58]:
data['Last Updated'].dtypes

dtype('O')

In [59]:
data['Last Updated'] = pd.to_datetime(data['Last Updated'], utc=True)
data['Last Updated'] = data['Last Updated'].dt.strftime('%d/%m/%Y')
data['Last Updated'] = pd.to_datetime(data['Last Updated'], format='%d/%m/%Y')

In [60]:
data.dtypes

Country Code             object
City                     object
Location                 object
Coordinates              object
Pollutant                object
Source Name              object
Unit                     object
Value                   float64
Last Updated     datetime64[ns]
Country Label            object
dtype: object